# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.txt
/build/webview_flutter
/build/shared_preferences
/build/kotlin
/build/flutter_assets
/build/app/generated
/build/app/intermediates
/build/app/kotlin
/build/app/reports
/build/app/tmp
/build/62f14693764db0ebbdcfdbb2f9f2aa8a
/build/082f6d3293e05885095f7703bb6393cf
/build/4436e1accf8ae04fae29a93e1fa2f65b


# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
